# VS Code
.vscode
cpsxcc.code-workspace

# Node
node_modules

# Web assets are dynamically built:
constructcpsxblock/constructcpsxblock/static/**/*
constructcpsxblock/constructcpsxblock/static/js/src/constructcpsxblock.js
